body {
  /*background-image: linear-gradient(grey, white);
  */
  background-color: white;
  background-repeat: no-repeat;
  color: #282a2b;
  font-family: 'Raleway', sans-serif;
}

#container {
  width: 940px;
  padding: 20px 0 0;
  margin: 0 auto;
  overflow: hidden;
}

#header {
  position: relative;
  width: auto;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-image: url("images/tires_lined_up.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#header h2.logo {
  position: absolute;
  background: transparent url("images/temp_logo.jpg") no-repeat 0 0;
  background-size: contain;
  height: 80px;
  width: 80px;
  margin-left: -45px;
  margin-top: 17px;
  z-index: 0;
  left: 50%;
}

.nav {
  width: 940px;
  overflow: hidden;
  margin-top: 250px;
  margin-bottom: 10px;
  text-align: center;
}

div {
  display: block;
}

ul {
  list-style: none;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /*padding-inline-start: 40px;
  */
  text-align: center;
  padding-left: 0;
  margin-left: -15px;
}

.nav li {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  display: inline-block;
  font-size: .867em;
  letter-spacing: .05em;
  font-family: 'SackersGothicW01-Medium', sans-serif;
  font-size: 1em;
  color: #999;
  margin: 0 45px;
  padding: 3px;
}

.nav li:hover {
  color: white;
}

/******** Main Body********/
.main {
  text-align: center;
}

.options {
  display: flex;
}

.service {
  flex: 1;
  background: #C7D3D6;
  margin: 30px;
}

.service p {
  margin: 30px;
}

.service h2 {
  margin-bottom: 0px;
}